
        <div class="nav"> 
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/about">About</a></li>
          </ul>
          
<p>
  Name: {{firstname}} <br><br>
  Surname: {{surname}}<br><br>
  Age: {{age}} <br><br>
  Mobile number:<br>{{mobilenumber}}<br><br>
    E-mail:<br>{{email}}<br><br>
    Departure:<br>{{departure}}<br><br>
    Arrival:<br>{{arrival}}<br><br>
    Date:<br>{{date}}<br><br>
    Traveller:<br>{{traveller}}<br><br>
    Pick up address:<br>{{pickupaddress}}<br><br>
    Destination Address:<br>{{destinationaddress}}<br><br>
    Number Of People:<br>{{numberofpeople}}
  </p>
 
        </div>
        <router-outlet></router-outlet>
  
 

  