
        <div class="nav">
          <ul>
            <li><a routerLink="/">Home</a></li>
      
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/about">About</a></li>
          </ul>


          <h2>About Us</h2>
         
        <p>We Believe On Giving You The Best Ride </p>
              Let Us Drive Get You Home Safe<br>
              We work 24/7 to make sure that you are always covered<br>
              We cover long and short distance with less price<br>
              More Than 500km=R250 upwards


          </div>
