<!-- <nav>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="/contact">Contact</a></li>
 <li> <a routerLink="/about">About</a><li>
</nav> -->
<div class="nav">
  <ul>
    <li><a routerLink="/">Home</a></li>
    
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/about">About</a></li>
  </ul><br>

        <h1>WELCOME TO 24/7 TAXI SERVICE<BR>
          Travel Home Safe With Our Taxi<br>
        Best Taxi For Best People</h1>



  <!-- <br><br>  WELCOME TO MASH 24/7 TAXI BOOKING  -->

<button type="button" (click)="navigation()" >Click Here To Book</button>

  </div>



