

    
        <div class="nav">
          <ul>
            <li><a routerLink="/">Home</a></li>
            
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/about">About</a></li>
          </ul>

<br><br>
          <h2>Contact Us</h2><br>
          <p> Email: mashudumelton@gmail.com<br>
            Contact Number: 0825388912<br></p>
            <!-- OR leave us a message:</p><br>

     
             
        
          <form >
  
        <h3>Contact Form</h3>

<div class="container">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            <label for="province">Province</label>
            <select id="country" name="country">
              <option value="limpopo">Limpopo</option>
              <option value="mpumalang">Mpumalang</option>
              <option value="gauteng">Gauteng</option>
              <option value="Eastern cape">Eastern cape</option>
              <option value="mpumalang">Kwazulu Natal</option>
              <option value="gauteng">Freestate</option>
              <option value="limpopo">North west</option>
              <option value="mpumalang">Western cape</option>
              <option value="gauteng">Northen cape</option>
            </select>
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
            <input type="submit" value="Submit">
          </form> -->

          </div>
    
      <br>
      <br>
      <footer>mashudu mlab project</footer>