
        <div class="nav">
          <ul>
            <li><a routerLink="/">Home</a></li>
    
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/about">About</a></li>
          </ul>
       
<table>
  <tr>
    <th>Name:<br>{{firstname}}</th>
    <th>Surname:<br>{{surname}}</th>
    <th>Age:<br>{{age}}</th>
    <th>Mobile number:<br>{{mobilenumber}}</th>
    <th>E-mail:<br>{{email}}</th>
    <th>Departure:<br>{{departure}}</th>
    <th>Arrival:<br>{{arrival}}</th>
    <th>Date:<br>{{date}}</th>
    <th>Traveller:<br>{{traveller}}</th>
    <th>Pick up address:<br>{{pickupaddress}}</th>
    <th>Destination Address:<br>{{destinationaddress}}</th>
  
 

  <tr>
  </table>  
 </div>
 <router-outlet></router-outlet>